# Server
PORT=3000

# Prisma
DATABASE_URL="postgresql://postgres:docker@localhost:5432/clean-nest?schema=public"

# Auth (JWT)
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""

# Upload (AWS / cloudflare)
AWS_BUCKET_NAME="uploads"
AWS_ACCESS_KEY_ID="admin"
AWS_SECRET_ACCESS_KEY_ID="password123"
AWS_ENDPOINT="http://localhost:9000"
AWS_REGION="us-east-1"